<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/accueil" class="navbar-brand d-flex align-items-center">
                <strong>LocationVoiture</strong>
            </a>
        </div>
    </div>
</header>

<body>
<div class="card mx-auto mt-3" style="width : 60%">
    <div class="card-header text-center">
        <h2>Menu Loueur</h2>
    </div>
    <div class="card-body">
        <div class="card">
            <h3 class="m-3">Ajouter un véhicule</h3>
            <div class="card-body">
                <form action='/admin' method="post">
                    <div class="form-group">
                        <label>Type de véhicule</label>
                        <input name="type" type="text" class="form-control" value="{{ type }}">
                    </div>
                    <div class="form-group">
                        <label>Quantité</label>
                        <input name="quantite" type="number" class="form-control" value="{{ quantite }}">
                    </div>
                    <div class="form-group">
                        <label>Caractéristiques</label>
                        <input name="caract" type="text" class="form-control" value="{{ caract }}">
                    </div>
                    <div class="form-group mb-3">
                        <label>Photo</label>
                        <input name="photo" type="text" class="form-control" value="{{ photo }}">
                    </div>
                    <div class="form-group">
                        <label>Prix</label>
                        <input name="prix" type="number" class="form-control" value="{{ prix }}">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 ml-3">Ajouter</button>
                </form>
                <div id="msg" class="text-danger">
                    {{ msg }}
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h3>Tout les véhicules en stock</h3>
                <div class="row">
                    {% for v in listeVehicules %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" width="100%" height="225" src="{{ v.getPhoto() }}" alt="photo{{ v.getId() }}">
                                <div class="card-body">
                                    <h3 class="card-text">{{ v.getType() }}</h3>
                                    <p class="font-weight-light">Caractéristiques : {{ v.getCaract()|jsonDecode }}</p>
                                    <p>Prix à la journée : {{ v.getPrix() }}€</p>
                                    <p class="card-text"><small class="text-muted">Quantité : {{ v.getNb() }}</small></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if v.getLocation() != "Loué" %}
                                        <div class="btn-group">
                                            <a href="/admin/action=supprimer({{ v.getId() }})" type="button" class="btn btn-danger">
                                                Supprimer
                                            </a>
                                        </div>
                                        {% endif %}
                                        <small class="text-muted">{{ v.getLocation() }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="/admin" method="post">
                    <h3 id="vehiculeClient">Véhicule par client</h3>
                    <div class="form-group">
                        <select class="form-control" name="choixClient" id="choixClient">
                                    <option value="">Sélectionnez un client</option>
                            {% for c in clients %}
                                {% if c.getNom() != "admin" %}
                                    {% if choixClient == c.getId() %}
                                        <option value="{{ c.getId() }}" selected>{{ c.getNom() }}</option>
                                    {% else %}
                                        <option value="{{ c.getId() }}">{{ c.getNom() }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Confirmer</button>
                </form>
                {% if vClient is defined %}
                <div class="card-body">
                    <h4>Véhicules du client choisi</h4>
                    <div class="row">
                        {% if vClient|length == 0 %}
                            <p>Ce client ne loue aucun véhicule actuellement.</p>
                        {% endif %}
                        {% for v in vClient %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" width="100%" height="225" src="{{ v.getPhoto() }}" alt="photo{{ v.getId() }}">
                                    <div class="card-body">
                                        <h3 class="card-text">{{ v.getType() }}</h3>
                                        <p class="font-weight-light">Caractéristiques : {{ v.getCaract()|jsonDecode }}</p>
                                        <p>Prix à la journée : {{ v.getPrix() }}€</p>
                                        <p class="card-text"><small class="text-muted">Quantité : {{ v.getNb() }}</small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
</body>

</html>