<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/accueil/{{ client.getId() }}" class="navbar-brand d-flex align-items-center">
                <strong>LocationVoiture</strong>
            </a>
        </div>
    </div>
</header>
<body>
<div class="card mx-auto mt-3" style="width : 60%">
    <div class="card-header text-center">
        <h2>Mon Compte :</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h3>Mes Informations :</h3>
            <p>Nom : {{ client.getNom() }}</p>
            <p>Email : {{ client.getEmail() }}</p>
        </li>
        <li class="list-group-item">
            <h2>Mes véhicules</h2>
            <div class="row">
                {% if(mesVehicules|length == 0) %}
                    <p class="col-md-4">Vous n'avez aucun véhicule actuellement</p>
                {% endif %}
                {% for v in mesVehicules %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="{{ v.getPhoto() }}" alt="photo{{ v.getId() }}">
                            <div class="card-body">
                                <h3 class="card-text">{{ v.getType() }}</h3>
                                <p>Caractéristiques : {{ v.getCaract() }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/menuUtilisateur/id={{ client.getId() }}/action=Supprimer({{ v.getId() }})" type="button" class="btn btn-sm btn-outline-secondary">Supprimer</a>
                                        <a href="/menuUtilisateur/id={{ client.getId() }}/action=Modifier({{ v.getId() }})" type="button" class="btn btn-sm btn-outline-secondary">Modifier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <li class="list-group-item">
            <h2>Autres véhicules disponibles</h2>
            <div class="row">
                {% for v in listeVehicules %}
                    {% if(not mesVehicules.contains(v) and v.getLocation != "Loué") %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"/>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>
                                <div class="card-body">
                                    <h3 class="card-text">{{ v.getType() }}</h3>
                                    <p>Caractéristiques : {{ v.getCaract() }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/menuUtilisateur/id={{ client.getId() }}/action=Ajouter({{ v.getId() }})" type="button" class="btn btn-sm btn-outline-secondary">Ajouter</a>
                                        </div>
                                        <small class="text-muted">{{ v.getLocation() }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </li>
    </ul>

</div>
</body>

</html>